<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJOwA666nmuqXuQ33k6oehy04wzrmd4do</string>
	<key>GCM_SENDER_ID</key>
	<string>157886446721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tro.un1versa1th4mn4x</string>
	<key>PROJECT_ID</key>
	<string>app421-33dd0</string>
	<key>STORAGE_BUCKET</key>
	<string>app421-33dd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157886446721:ios:f367122cbfae568fe32180</string>
</dict>
</plist>